@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,800");

:root {
  --white: whitesmoke; 
  --black: rgb(22, 22, 22); 
  --grey: #1f2020;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: var(--black);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: var(--white);
}

.site-wrapper {
  display: grid;
  grid-auto-flow: row;
  min-height: 100vh;
  grid-template-rows: repeat(2, auto) 250px;
  grid-gap: 30px;
}

/* -------------- Header --------------------------*/
.header {
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) ), url('/assets/come-on.jpg') center center no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  min-height: 500px;
  padding: 10px 50px 0 50px;
  display: grid;
  grid-template-rows: auto  auto 1fr;  
}

.header-top {
  display: grid;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid var(--black);
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 5px;
}

.header .header-bottom {
  margin-top: 20px;
  grid-gap: 20px;
}

.logo {
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
}

.header-language {
  justify-self: right;
}

.button-smol {
  border: 0;
  background: transparent;
  font-size: 15px;
  letter-spacing: 1.1px;
  padding: 5px 0 2px;
  cursor: pointer;
}

button.button {
  border: none;
  background: white;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: 600;
}

button.button:hover {
  color: white;
  background: var(--grey);
}

.button-smol:hover {
  border-bottom: 1px solid var(--black);
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
}

@media (max-width: 600px) {
  .header-bottom {
    grid-auto-flow: row;
    padding: 10px var(--side-padding);
  }
}

.hero {
  align-self: flex-end;
  justify-self: right;
  padding-bottom: 20px;
  display: grid;
}

.hero h2 {
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 800;  
  color: var(--white);  
  text-shadow: 2px 2px 0px var(--black);  
}

.hero .text {
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: justify;
}

.hero button {
  justify-self: end;
}

.content {
  padding: 10px 50px 0 50px;
}

.wells {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 25px;
  margin: 30px 0;
}

.wells .well {
  /* border: 1px solid rgba(0,0,0,0.2); */
  padding: 20px;
  display: grid;
  background: white;
}

.well img {
  max-width: 100%;
  background-size: cover;
}

.well button {
  border: none;
  margin-top: 5px;
  justify-self: end;
  cursor: pointer;
  background: var(--white);
  padding: 5px 10px;
  font-size: 14px;
}

.well button:hover {
  background: var(--grey);
  color: white;
}

.well h3 {
  margin-bottom: 5px;
}

.footer {
  padding: 10px 50px 0 50px;
  background: var(--grey);
  color: rgba(255,255,255,0.5);
  line-height: 28px;
  font-weight: 400;
  font-size: 14px;
}

.footer-content {
  display: grid;
  grid-auto-flow: column;
  padding-top: 20px;
}

.footer-content .logo {
  color: var(--white);
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 30px;
  padding-top: 10px;
  text-align: right;
}